td, th {
  text-align: center;
  font-size: 2rem;
  padding-top: 1px;
  padding-bottom: 1px;
  min-width: 2.5rem;
}
td small, th small {
  font-size: 1rem;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
