<div class="row">
	<div class="col s12">
		<h1>Juegan las <%= turnStr %>. Encuentre la mejor jugada.</h1>
		<p>Dificultad: <b><%= level %></p>
		<p>Soluci&oacute;n: </p>
		<div id="solution"><b>toca la ficha y luego la casilla de destino</b></div>
	</div>
</div>

<div class="row">
	<div class="col s12 center">
		<%- board %>
	</div>
</div>

<div class="row">
	<div class="col s12 ">

	</div>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large green">
		<i class="large material-icons">border_clear</i>
	</a>
	<ul>
		<% if (level !== "Fácil") { %>
		  <li><a href="#!" class="btn-floating " onclick="apretaste.send({command: 'AJEDREZ', data: {query: 'FACIL'}});"><i class="material-icons left">border_horizontal</i>F&aacute;cil</a></li>
		<% } %>
		<% if (level !== "Intermedio") { %>
		  <li><a href="#!" class="btn-floating " onclick="apretaste.send({command: 'AJEDREZ', data: {query: ''}});"><i class="material-icons left">border_outer</i>Medio</a></li>
		<% } %>
		<% if (level !== "Difícil") { %>
			<li><a href="#!" class="btn-floating " onclick="apretaste.send({command: 'AJEDREZ', data: {query: 'DIFICIL'}});"><i class="material-icons left">border_all</i>Dif&iacute;cil&eacute;lite</a>
		<% } %>
	</ul>
</div>